PORTAL_PEL_API_MAIL_SENDER_EMAIL=
PORTAL_PEL_API_MAIL_SENDER_PASSWORD=
PORTAL_PEL_API_TOKEN_SECRET=
PORTAL_PEL_API_TOKEN_SESSION_ISSUER=
PORTAL_PEL_API_TOKEN_RECOVERY_SESSION_ISSUER=
PORTAL_PEL_API_TOKEN_AUTHORIZED_LINK_ISSUER=
PORTAL_PEL_API_DB_URL=
PORTAL_PEL_API_DB_USERNAME=
PORTAL_PEL_API_DB_PASSWORD=
PORTAL_PEL_API_CORS_ALLOWED_ORIGINS=
PORTAL_PEL_API_URL=
PORTAL_PEL_API_AWS_ACCESS_KEY=
PORTAL_PEL_API_AWS_SECRET_KEY=
PORTAL_PEL_API_AWS_REGION=
PORTAL_PEL_API_AWS_S3_BUCKET_NAME=
PORTAL_PEL_API_FILE_UPLOAD_DIR=
PORTAL_PEL_API_FILE_UPLOAD_SIZE=
PORTAL_PEL_API_FILE_S3_ENABLED=